nav{
    padding: 0 8px;
  display: flex;
  height: 72px;
  align-items: center;
  justify-content: space-between;
}
nav ul{
     display: flex;
  gap: 24px;
  list-style-type: none;
  font-weight: 500;
}
nav ul li a {
  text-decoration: none;   /* pehle default underline hata do */
  color: #333;
  position: relative;
  padding-bottom: 4px;
}

nav ul li a::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 2px;
  background-color: #333;   /* underline ka color */
  transition: width 0.3s ease;
}

nav ul li a:hover::after {
  width: 100%;   /* hover pe underline animate ho ke poora ban jayega */
}